{% extends 'body.html' %}
{% load widget_tweaks %}

{% block contenido %}
<style>
  .swal2-container {
    z-index: 20000 !important;
}
</style>
<form method="post">
    <div class="card">

        <div class="card-header">
            <h3> <i class="fas fa-plus"></i>  {{ titulo }}</h3>
            
        </div>

        <div class="card-body">
            {% csrf_token %}

            {% for field in form.visible_fields %}
            <div class="mb-3">
                <label>{{ field.label }}</label>

                {% if field.name == 'fk_imc' %}
                <div class="d-flex">
                    {{ field|add_class:'form-control' }}

                    <button type="button" class="btn btn-success ms-2" onclick="abrirWizard()">
                        +
                    </button>
                </div>
                {% else %}
                    {{ field|add_class:'form-control' }}
                {% endif %}
            </div>
            {% endfor %}

        </div>

        <div class="card-footer">
            <button class="btn btn-primary">Guardar Rutina</button>
        </div>

    </div>
</form>

<!-- ================= WIZARD ================= -->
<div class="modal fade" id="modalWizard">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header text-white" style="background-color: #267ca7;"> <h5>Wizard Completo</h5>
        <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

    <!-- PASO 1 -->
    <div id="paso1">
        <h6 class="mb-3">Usuario</h6>

        <div class="row">
            <div class="col-md-6 mb-2">
                <input id="username" class="form-control" placeholder="Username">
            </div>
            <div class="col-md-6 mb-2">
                <input id="password" type="password" class="form-control" placeholder="Password">
            </div>

            <div class="col-md-4 mb-2">
                <input id="documento" class="form-control" placeholder="Documento">
            </div>
            <div class="col-md-4 mb-2">
                <input id="nombre" class="form-control" placeholder="Nombre">
            </div>
            <div class="col-md-4 mb-2">
                <input id="apellido" class="form-control" placeholder="Apellido">
            </div>

            <div class="col-md-4 mb-2">
                <input id="correo" class="form-control" placeholder="Correo">
            </div>
            <div class="col-md-4 mb-2">
                <input id="telefono" class="form-control" placeholder="Teléfono">
            </div>
            <div class="col-md-4 mb-2">
                <input id="fecha_nacimiento" type="date" class="form-control">
            </div>

            <div class="col-md-4 mb-2">
                <input id="peso_usuario" class="form-control" placeholder="Peso usuario">
            </div>
            <div class="col-md-4 mb-2">
                <input id="altura_usuario" class="form-control" placeholder="Altura usuario">
            </div>
            <div class="col-md-4 mb-2">
                <select id="genero" class="form-control">
                    <option value="">Género</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>
        </div>
    </div>

    <!-- PASO 2 -->
    <div id="paso2" style="display:none;">
        <h6 class="mb-3">Nutrición</h6>

        <div class="row">
            <div class="col-md-4 mb-2">
                <select id="nivel_actividad" class="form-control">
                    <option value="">Nivel actividad</option>
                    <option value="bajo">Bajo</option>
                    <option value="medio">Medio</option>
                    <option value="alto">Alto</option>
                </select>
            </div>

            <div class="col-md-4 mb-2">
                <select id="tipo_objetivo" class="form-control">
                    <option value="">Objetivo</option>
                    <option value="perder_peso">Perder peso</option>
                    <option value="mantener">Mantener</option>
                    <option value="ganar_masa">Ganar masa</option>
                </select>
            </div>

            <div class="col-md-4 mb-2">
                <select id="tipo_dieta" class="form-control">
                    <option value="">Dieta</option>
                    <option value="keto">Keto</option>
                    <option value="balanceada">Balanceada</option>
                </select>
            </div>
        </div>
    </div>

    <!-- PASO 3 -->
    <div id="paso3" style="display:none;">
        <h6 class="mb-3">Masa Corporal</h6>

        <div class="row">
            <div class="col-md-4 mb-2">
                <input id="peso_cliente" class="form-control" placeholder="Peso">
            </div>
            <div class="col-md-4 mb-2">
                <input id="altura_cliente" class="form-control" placeholder="Altura">
            </div>
            <div class="col-md-4 mb-2">
                <input id="fecha_control" type="date" class="form-control">
            </div>
        </div>
    </div>

</div>

      <div class="modal-footer">
        <button class="btn btn-secondary" onclick="prevPaso()">Anterior</button>
        <button class="btn btn-primary" onclick="nextPaso()" id="Siguiente">Siguiente</button>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
const siguientebtn = document.getElementById("Siguiente");
let paso = 1;

function mostrarPaso(){
    for(let i=1;i<=3;i++){
        document.getElementById('paso'+i).style.display = (i === paso) ? 'block' : 'none';
    }
    if(paso === 3){
      siguientebtn.textContent = "Guardar"
    }else{
      siguientebtn.textContent = "Siguiente"
}
}

function abrirWizard(){
    paso = 1;
    mostrarPaso();
    new bootstrap.Modal(document.getElementById('modalWizard')).show();
}

function nextPaso(){
    if(paso === 3){
        console.log("Guardar todo");
        guardarTodo();
        return;
    }
    paso++;
    console.log(paso)
    mostrarPaso();
}

function prevPaso(){
    if(paso > 1){
        paso--;
        mostrarPaso();
    }
}

function guardarTodo(){

    let data = {
        username: username.value,
        password: password.value,
        documento: documento.value,
        nombre: nombre.value,
        apellido: apellido.value,
        correo: correo.value,
        telefono: telefono.value,
        fecha_nacimiento: fecha_nacimiento.value,
        peso_usuario: parseFloat(peso_usuario.value),
        altura_usuario: parseFloat(altura_usuario.value),
        genero: genero.value,

        nivel_actividad: nivel_actividad.value,
        tipo_objetivo: tipo_objetivo.value,
        tipo_dieta: tipo_dieta.value,

        peso_cliente: parseFloat(peso_cliente.value),
        altura_cliente: parseFloat(altura_cliente.value),
        fecha_control: fecha_control.value
    };

    fetch("{% url 'gimnasio:wizard_crear_todo' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify(data)
    })
    .then(res => res.json())
    .then(res => {

        if(res.error){
            Swal.fire("Error", res.error, "error");
            return;
        }

        let select = document.getElementById("id_fk_imc");
        let option = new Option(res.nombre, res.id, true, true);
        select.add(option);

        bootstrap.Modal.getInstance(document.getElementById('modalWizard')).hide();

        Swal.fire("Correcto", "Creado correctamente", "success");
    })
    .catch(()=>{
        Swal.fire("Error", "Error en la petición", "error");
    });
}
</script>
{% endblock %}