{% load static %}

<aside class="sidebar" id="sidebar">
  <div class="user-panel">
    <div class="profile-img-wrapper">
      <a href="{% url 'gimnasio:perfil_usuario' %}" class="profile-link">
      <img src="{% static 'img/img_usuario.png' %}" alt="Usuario" />
      </a>
    </div>
    <h3>Administrador</h3>
    <h3>{{ request.user.username }}</h3>
    <div class="badge-plan">Gym Nazareth</div>
  </div>

  <ul class="nav-menu">

    <li class="{% if request.resolver_match.url_name == 'listar_asistencia' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_asistencia' %}">
        <div class="icon-circle"><i class="fas fa-calendar-check"></i></div>
        <span>Asistencia</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_membresia' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_membresia' %}">
        <div class="icon-circle"><i class="fas fa-crown"></i></div>
        <span>Membresía</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_notificacion' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_notificacion' %}">
        <div class="icon-circle"><i class="fas fa-bell"></i></div>
        <span>Notificaciones</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_usuario' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_usuario' %}">
        <div class="icon-circle"><i class="fas fa-users"></i></div>
        <span>Usuarios</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_registrovisitante' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_registrovisitante' %}">
        <div class="icon-circle"><i class="fas fa-walking"></i></div>
        <span>Registro Visitantes</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_nutriciones' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_nutriciones' %}">
        <div class="icon-circle"><i class="fas fa-utensils"></i></div>
        <span>Nutrición</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_rutinas' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_rutinas' %}">
        <div class="icon-circle"><i class="fas fa-dumbbell"></i></div>
        <span>Rutinas</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_masa_corporal_clas' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_masa_corporal_clas' %}">
        <div class="icon-circle"><i class="fas fa-weight"></i></div>
        <span>Masa Corporal</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_certificacioninterna' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_certificacioninterna' %}">
        <div class="icon-circle"><i class="fas fa-medal"></i></div>
        <span>Certificaciones</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_elementos' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_elementos' %}">
        <div class="icon-circle"><i class="fas fa-box"></i></div>
        <span>Elementos</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_mantenimiento' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_mantenimiento' %}">
        <div class="icon-circle"><i class="fas fa-tools"></i></div>
        <span>Mantenimiento</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_Reportes_estadisticas' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_Reportes_estadisticas' %}">
        <div class="icon-circle"><i class="fas fa-chart-bar"></i></div>
        <span>Reportes</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_categorias' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_categorias' %}">
        <div class="icon-circle"><i class="fas fa-tags"></i></div>
        <span>Categoría</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_turnodeentrenador' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_turnodeentrenador' %}">
        <div class="icon-circle"><i class="fas fa-clock"></i></div>
        <span>Turnos Entrenadores</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_encuestas' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_encuestas' %}">
        <div class="icon-circle"><i class="fas fa-question-circle"></i></div>
        <span>Encuestas</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_Soporte_PQRS' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_Soporte_PQRS' %}">
        <div class="icon-circle"><i class="fas fa-headset"></i></div>
        <span>Soporte PQRS</span>
      </a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'listar_sanciones_clas' %}active{% endif %}">
      <a href="{% url 'gimnasio:listar_sanciones_clas' %}">
        <div class="icon-circle"><i class="fas fa-exclamation-triangle"></i></div>
        <span>Sanciones</span>
      </a>
    </li>

  </ul>
</aside>