{% extends 'body.html' %}
{% load static %}
{% load widget_tweaks %}

{% block contenido %}

<form method="post" action=".">

    <div class="card card-default">

        <!-- HEADER -->
        <div class="card-header">

            <h3 class="card-title">

                <!-- ICONO MAS -->
                <i class="fas fa-plus"></i>

                {{ titulo }}

            </h3>

        </div>

        <!-- BODY -->
        <div class="card-body">

            {% csrf_token %}

            {% if form.errors %}

            <div class="alert alert-danger alert-dismissible">

                <button type="button"
                        class="close"
                        data-bs-dismiss="alert">

                    ×

                </button>

                <h5>

                    <i class="icon fas fa-ban"></i>

                    Error! Verifica los campos.

                </h5>

                {% if form.non_field_errors %}

                <ul class="mb-0">

                    {% for error in form.non_field_errors %}

                    <li>{{ error }}</li>

                    {% endfor %}

                </ul>

                {% endif %}

            </div>

            {% endif %}

            <!-- CAMPOS -->

            {% for field in form.visible_fields %}

            <!-- USUARIO CON BOTON -->
            {% if field.name == 'fk_usuario' %}

            <div class="form-group mb-3">

                <label for="{{ field.id_for_label }}">
                    {{ field.label }}:
                </label>

                <div class="d-flex">

                    {% if field.errors %}
                        {{ field|add_class:'form-control is-invalid' }}
                    {% else %}
                        {{ field|add_class:'form-control' }}
                    {% endif %}

                    <!-- BOTON MAS -->
                        <button type="button" class="btn btn-success ms-2"
                        data-bs-toggle="modal" data-bs-target="#modalUsuario">
                        +
                    </button>

                </div>

                {% if field.errors %}

                <div class="invalid-feedback d-block">

                    {% for error in field.errors %}

                    <div>{{ error }}</div>

                    {% endfor %}

                </div>

                {% endif %}

            </div>

            {% else %}

            <div class="form-group mb-3">

                <label for="{{ field.id_for_label }}">

                    {{ field.label }}:

                </label>

                {% if field.errors %}

                    {{ field|add_class:'form-control is-invalid'|attr:'autocomplete:off' }}

                {% else %}

                    {{ field|add_class:'form-control'|attr:'autocomplete:off' }}

                {% endif %}

                <!-- VALID -->

                <div class="valid-feedback">

                    Campo válido

                </div>

                <!-- INVALID -->

                <div class="invalid-feedback">

                    {% if field.name == 'motivo_sancion' %}

                        El motivo debe iniciar con letra y tener mínimo 5 caracteres

                    {% elif field.name == 'duracion_sancion' %}

                        La duración debe estar entre 1 y 365 días

                    {% elif field.name == 'fecha_inicio' %}

                        La fecha inicio debe ser hoy

                    {% elif field.name == 'fecha_fin' %}

                        La fecha fin debe ser mayor a la fecha inicio

                    {% else %}

                        Campo inválido

                    {% endif %}

                </div>

                <!-- ERRORES DJANGO -->

                {% if field.errors %}

                <div class="invalid-feedback d-block">

                    {% for error in field.errors %}

                    <div>{{ error }}</div>

                    {% endfor %}

                </div>

                {% endif %}

            </div>

            {% endif %}

            {% endfor %}

        </div>

        <!-- FOOTER -->

        <div class="card-footer">

            <button type="submit"
                    class="btn btn-primary">

                <i class="fas fa-save"></i>

                Guardar registro

            </button>

            <a href="{% url 'gimnasio:listar_sanciones_clas' %}"
               class="btn btn-danger">

                <i class="fas fa-times"></i>

                Cancelar

            </a>

        </div>

    </div>

</form>

<div class="modal fade" id="modalUsuario" tabindex="-1">
  <div class="modal-dialog modal-lg"> 
    <div class="modal-content">
      <div class="modal-header bg-primary text-white py-5">
        <h5 class="modal-title">
          <i class="ri-user-add-line me-2"></i>
         Crear Usuario
        </h5>

        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal">
        </button>
      </div>  
      <div class="modal-body">
        {% csrf_token %}

    
        <h6 class="text-primary fw-bold mb-2">Datos de acceso</h6>
        <hr>

        <div class="row">
        <div class="col-md-6 mb-2">
          <input 
            type="text"
            id="username"
            name="fake_user"
            class="form-control"
            placeholder="Username"
            autocomplete="off">
        </div>

        <div class="col-md-6 mb-2">
            <div class="input-group">

          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Contraseña">

          <button
            type="button"
            class="btn btn-outline-secondary"
            id="btnTogglePassword">

            <i
              class="ri-eye-line"
              id="iconPassword">
            </i>

          </button>

        </div>
      </div>


        <h6 class="text-success fw-bold mt-3 mb-2">Datos personales</h6>
        <hr>

        <div class="row">
          <div class="col-md-6 mb-2">
            <input type="text" id="documento" class="form-control" placeholder="Documento">
          </div>

          <div class="col-md-6 mb-2">
            <input type="email" id="correo" class="form-control" placeholder="Correo">
          </div>

          <div class="col-md-6 mb-2">
            <input type="text" id="nombre" class="form-control" placeholder="Nombre">
          </div>

          <div class="col-md-6 mb-2">
            <input type="text" id="apellido" class="form-control" placeholder="Apellido">
          </div>

          <div class="col-md-6 mb-2">
            <input type="text" id="telefono" class="form-control" placeholder="Teléfono">
          </div>

          <div class="col-md-6 mb-2">
            <input type="date" id="fecha_nacimiento" class="form-control">
          </div>

          <div class="col-md-6 mb-2">
            <select id="genero" class="form-select">
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </div>
        </div>

   
        <h6 class="text-warning fw-bold mt-3 mb-2">Datos físicos</h6>
        <hr>

        <div class="row">
          <div class="col-md-6 mb-2">
            <input type="number" id="peso" class="form-control" placeholder="Peso">
          </div>

          <div class="col-md-6 mb-2">
            <input type="number" id="altura" class="form-control" placeholder="Altura">
          </div>
        </div>

      </div>

      <!-- FOOTER -->
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>

        <button class="btn btn-primary" onclick="crearUsuario()">
          <i class="ri-save-line me-1"></i>Guardar
        </button>
      </div>

    </div>
  </div>
</div>


{% endblock %}

{% block js %}
<script src="{% static 'js/validation.js' %}"></script>
<!-- SWEET ALERT -->

{% if form.errors %}

<script>

Swal.fire({

    title: "Error",

    text: "Verifica los campos ingresados",

    icon: "error"

});

</script>

{% endif %}

<!-- VALIDACIONES -->

<script>

document.addEventListener("DOMContentLoaded", function () {

    const motivo = document.getElementById("id_motivo_sancion");

    const duracion = document.getElementById("id_duracion_sancion");

    const fechaInicio = document.getElementById("id_fecha_inicio");

    const fechaFin = document.getElementById("id_fecha_fin");

    // =========================
    // FECHA HOY
    // =========================

    if (fechaInicio) {

        let hoy = new Date();

        let yyyy = hoy.getFullYear();

        let mm = String(hoy.getMonth() + 1)
                    .padStart(2, '0');

        let dd = String(hoy.getDate())
                    .padStart(2, '0');

        let fechaHoy = `${yyyy}-${mm}-${dd}`;

        fechaInicio.value = fechaHoy;

        fechaInicio.min = fechaHoy;

        fechaInicio.max = fechaHoy;

    }

    // =========================
    // MOTIVO
    // =========================

    if (motivo) {

        motivo.addEventListener("input", function () {

            let valor = this.value.trim();

            if (valor.length < 5) {

                this.classList.remove("is-valid");

                this.classList.add("is-invalid");

                return;
            }

            if (!/^[a-zA-ZÁÉÍÓÚáéíóúÑñ]/.test(valor)) {

                this.classList.remove("is-valid");

                this.classList.add("is-invalid");

                return;
            }

            this.classList.remove("is-invalid");

            this.classList.add("is-valid");

        });

    }

    // =========================
    // DURACION
    // =========================

    if (duracion) {

        duracion.addEventListener("input", function () {

            let valor = parseInt(this.value);

            if (valor > 0 && valor <= 365) {

                this.classList.remove("is-invalid");

                this.classList.add("is-valid");

                // CALCULAR FECHA FIN

                if (fechaInicio && fechaFin) {

                    let inicio = new Date(fechaInicio.value);

                    inicio.setDate(inicio.getDate() + valor);

                    let yyyy = inicio.getFullYear();

                    let mm = String(inicio.getMonth() + 1)
                                .padStart(2, '0');

                    let dd = String(inicio.getDate())
                                .padStart(2, '0');

                    fechaFin.value = `${yyyy}-${mm}-${dd}`;

                    fechaFin.classList.remove("is-invalid");

                    fechaFin.classList.add("is-valid");

                }

            } else {

                this.classList.remove("is-valid");

                this.classList.add("is-invalid");

            }

        });

    }

    // =========================
    // FECHA FIN
    // =========================

    if (fechaFin && fechaInicio) {

        fechaFin.addEventListener("change", function () {

            let inicio = new Date(fechaInicio.value);

            let fin = new Date(this.value);

            if (fin > inicio) {

                this.classList.remove("is-invalid");

                this.classList.add("is-valid");

            } else {

                this.classList.remove("is-valid");

                this.classList.add("is-invalid");

            }

        });

    }

});

function crearUsuario() {

    const modal = document.getElementById("modalUsuario");
    const inputs = modal.querySelectorAll(".form-control, .form-select");
    let formularioValido = true;

    inputs.forEach(input => {
        const esValido = validarCampo(input);
        if (!esValido) {
            formularioValido = false;
        }
    });

    if (!formularioValido) {

        const primerError = modal.querySelector(".is-invalid");
        if (primerError) primerError.focus();
        return; 
    }

    let data = {
        documento: documento.value,
        nombre: nombre.value,
        apellido: apellido.value,
        correo: correo.value,
        password: password.value,
        username: username.value,
        telefono: telefono.value,
        fecha_nacimiento: fecha_nacimiento.value,
        peso: peso.value,
        altura: altura.value,
        genero: genero.value
    };

    fetch("{% url 'gimnasio:crear_usuario_ajax' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": '{{csrf_token}}'
        },
        body: JSON.stringify(data)
    })
    .then(res => res.json())
    .then(data => {

        if (data.error) {
            return Swal.fire("Error", data.error, "error");
        }

        let select = document.querySelector('[name="fk_usuario"]');
        if (!select.querySelector(`option[value="${data.id}"]`)) {
            select.add(new Option(data.nombre, data.id, true, true));
        }


        document.querySelectorAll('#modalUsuario input').forEach(i => i.value = '');
        document.querySelectorAll('[id^="error_"]').forEach(e => e.innerText = '');

        Swal.fire("Correcto", "Usuario creado correctamente", "success");
        bootstrap.Modal.getInstance(document.getElementById('modalUsuario')).hide();
    });
}
</script>

{% endblock %}