{% extends 'body.html' %}
{% load widget_tweaks %}

{% block contenido %}

<form method="post" action=".">
    <div class="card card-default">


    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-plus"></i>
            {{ titulo }}
        </h3>
    </div>

    <div class="card-body">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Error:</strong> Verifica los campos.
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
            <div class="form-group mb-3">
                <label>{{ field.label }}</label>

                {% if field.name == 'fk_membresia' %}
                <div class="d-flex">
                    {{ field|add_class:'form-control' }}

                    
                    <button type="button" class="btn btn-success ms-2" data-bs-toggle="modal" data-bs-target="#modalmembresia">
                        +
                    </button>
                </div>
                {% else %}
                    {{ field|add_class:'form-control' }}
                {% endif %}

                {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                Guardar
            </button>

            <a href="{% url 'gimnasio:listar_asistencia' %}" class="btn btn-danger">
                Cancelar
            </a>
        </div>

    </div>
</form>


<div class="modal fade" id="modalmembresia" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Crear Membresia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <input type="text" id="fecha_inicio" class="form-control mb-2" placeholder="Documento">
        <input type="text" id="fecha_fin" class="form-control mb-2" placeholder="Nombre">
          <select id="estado" class="form-control mb-2">
            <option value="inactivo">Inactivo</option>
            <option value="activo">Activo</option>
        </select>
        <input type="text" id="codigo_qr" class="form-control mb-2" placeholder="Codigo QR">
        
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" onclick="crearMembresia()">Guardar</button>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script>
function crearMembresia() {

    let data = {
        fecha_inicio: document.getElementById("fecha_inicio").value,
        fecha_fin: document.getElementById("fecha_fin").value,
        estado: document.getElementById("estado").value,
        codigo_qr: document.getElementById("codigo_qr").value
    };

    if (!data.fecha_inicio || !data.fecha_fin|| !data.estado || !data.codigo_qr) {
        Swal.fire("Error", "Todos los campos son obligatorios", "error");
        return;
    }

    fetch("{% url 'gimnasio:crear_membresia_ajax' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {

        let select = document.getElementById("fk_membresia");

        let option = new Option(data.nombre, data.id, true, true);
        select.add(option);

        let modal = bootstrap.Modal.getInstance(document.getElementById('modalMembresia'));
        modal.hide();

        Swal.fire("Correcto", "membresia creada", "success");
    });
}
</script>

{% endblock %}