{% extends 'body.html' %}
{% load widget_tweaks %}
{% block contenido %}
<form method="post" action="." id="formEliminar">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-trash"></i>
                {{ titulo }}
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"
                 aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al intentar 
                guardar un registro</h5>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="alert alert-danger alert-dismissible">
                <h5><i class="icon fas fa-ban"></i> Advertencia!</h5>
                Deseas eliminar el registro #{{object.id}} | {{object.nombre}}?
            </div>
        </div>
        <div class="card-footer">
            
            <button type="button" class="btn btn-primary" id="btnEliminar">
                <i class="fas fa-save"></i> Si, Aceptar
            </button>
            <a href="{{ listar_url }}" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</form>

{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('btnEliminar').addEventListener('click', function () {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción no se puede deshacer',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                //  Mostrar éxito y luego enviar el formulario
                Swal.fire({
                    title: 'Correcto',
                    text: 'Registro eliminado correctamente',
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then(() => {
                    document.getElementById('formEliminar').submit();
                });
            }
        });
    });
</script>
{% endblock %}