{% extends "body.html" %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}">

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0"> <i class="fa-solid fa-list"></i> Listado de notificaciones</h5>
            <a href="{{ crear_url }}" class="btn btn-primary">
                <i class="icon-base ri ri-add-line icon-18px me-1"></i>Agregar notificación
            </a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla-notificacion" class="table table-bordered table-striped w-100">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Usuario</th>
                            <th>Documento</th>
                            <th>Tipo de notificacion</th>
                            <th>Canal de notificacion</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for no in object_list %}
                        <tr>
                            <td>{{ no.id }}</td>
                            <td>{{  no.fk_usuario.nombre_usuario}} {{no.fk_usuario.apellido_usuario}}</td>
                            <td>{{  no.fk_usuario.documento}}</td>
                            <td>{{ no.tipo_notificacion }}</td>
                            <td>{{ no.canal_notificacion }}</td>
                            {% if no.estado_notificacion == 'ASIGNADA'%}
                            <td> <span class="badge bg-success ">{{ no.estado_notificacion }}</span></td>
                            {%else%}
                            <td> <span class="badge bg-danger">{{ no.estado_notificacion }}</span></td>
                            {% endif%}
                            
                            <td class="text-nowrap">
                               
                            <a href="{% url 'gimnasio:editar_notificacion' no.id %}"
                                                class="btn btn-sm btn-text-secondary rounded-pill btn-icon item-edit">
                                                <i class="icon-base ri ri-edit-box-line icon-22px"></i>
                                            </a>
                                       
                                            <a href="{% url 'gimnasio:eliminar_notificacion' no.id %}"
                              class="btn btn-sm btn-text-secondary rounded-pill btn-icon item-trash">
                                                <i class="icon-base ri ri-delete-bin-line icon-22px"></i>
                                    
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No hay notificaciones registradas.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(function () {
        $('#tabla-notificacion').DataTable({
            responsive: true,
            autoWidth: false,
            language: {
                url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
            },
            columnDefs: [
                { orderable: false, targets: 4 }
            ]
        });
    });

    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                title: "Correcto",
                text: "{{ message }}",
                icon: "success",
                confirmButtonText: "OK"
            });
        {% endfor %}
    {% endif %}
</script>


{% endblock %}

