{% extends 'body.html' %}
{% load widget_tweaks %}
{% load static %}
{% block contenido %}
<form method="post" action=".">
    <div class="card card-default">

        <div class="header-encuesta">
            <h3>
                <i class="fas fa-edit"></i>
                {{ titulo }}
            </h3>
        </div>

        <div class="card-body">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Error:</strong> Verifica los campos.
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
            <div class="form-group mb-3">
                <label>{{ field.label }}</label>

                {% if field.name == 'fk_Usuario' %}
                <div class="d-flex">
                    {{ field|add_class:'form-control' }}

                    <button type="button" class="btn btn-success ms-2" data-bs-toggle="modal" data-bs-target="#modalUsuario">
                        +
                    </button>
                </div>
                {% else %}
                    {{ field|add_class:'form-control' }}
                {% endif %}

                {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                Guardar
            </button>

            <a href="{% url 'gimnasio:listar_masa_corporal_clas' %}" class="btn btn-danger">
                Cancelar
            </a>
        </div>

    </div>
</form>


<!-- MODAL -->
<div class="modal fade" id="modalUsuario" tabindex="-1">
  <div class="modal-dialog modal-lg"> 
    <div class="modal-content">

      <div class="modal-header bg-primary text-white py-5">
        <h5 class="modal-title">
          <i class="ri-user-add-line me-2"></i>
         Crear Usuario
        </h5>

        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">

        <!-- ACCESO -->
        <h6 class="text-primary fw-bold">Datos de acceso</h6>
        <hr>

        <div class="row">
  <div class="col-md-6 mb-2">
    <input 
      type="text"
      id="username"
      name="fake_user"
      class="form-control"
      placeholder="Username"
      autocomplete="off">
  </div>

  <div class="col-md-6 mb-2">
      <div class="input-group">

    <input
      type="password"
      id="password"
      class="form-control"
      placeholder="Contraseña">

    <button
      type="button"
      class="btn btn-outline-secondary"
      id="btnTogglePassword">

      <i
        class="ri-eye-line"
        id="iconPassword">
      </i>

    </button>

  </div>
</div>

        <!-- PERSONALES -->
        <h6 class="text-success fw-bold mt-3">Datos personales</h6>
        <hr>

        <div class="row">

          <div class="col-md-6 mb-2">
            <input type="text" id="documento" class="form-control" placeholder="Documento">
            <small class="text-danger" id="error_documento"></small>
          </div>

          <div class="col-md-6 mb-2">
            <input type="email" id="correo" class="form-control" placeholder="Correo">
            <small class="text-danger" id="error_correo"></small>
          </div>

          <div class="col-md-6 mb-2">
            <input type="text" id="nombre" class="form-control" placeholder="Nombre">
            <small class="text-danger" id="error_nombre"></small>
          </div>

          <div class="col-md-6 mb-2">
            <input type="text" id="apellido" class="form-control" placeholder="Apellido">
            <small class="text-danger" id="error_apellido"></small>
          </div>

          <div class="col-md-6 mb-2">
            <input type="text" id="telefono" class="form-control" placeholder="Teléfono">
            <small class="text-danger" id="error_telefono"></small>
          </div>

            <div class="col-md-6 mb-2">
                <input 
    id="fecha_nacimiento" 
    type="text" 
    class="form-control" 
    placeholder="Fecha de Nacimiento"
    onfocus="(this.type='date')"
    onblur="if(!this.value)this.type='text'">
                <small id="error_fecha_nacimiento" class="text-danger"></small>
            </div>

          <div class="col-md-6 mb-2">
            <select id="genero" class="form-select">
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </div>
        </div>

        <!-- FISICOS -->
        <h6 class="text-warning fw-bold mt-3">Datos físicos</h6>
        <hr>

        <div class="row">
          <div class="col-md-6 mb-2">
            <input type="number" id="peso" class="form-control" placeholder="Peso (kg)">
            <small class="text-danger" id="error_peso"></small>
          </div>

          <div class="col-md-6 mb-2">
            <input type="number" id="altura" class="form-control" placeholder="Altura (cm)">
            <small class="text-danger" id="error_altura"></small>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" onclick="crearUsuario()">Guardar</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src = "{% static 'js/validation.js' %}"></script>
<script>

// CSRF
// ================= CREAR USUARIO =================
function crearUsuario() {
        const modal = document.getElementById("modalUsuario");
    const inputs = modal.querySelectorAll(".form-control, .form-select");
    let formularioValido = true;

    inputs.forEach(input => {
        const esValido = validarCampo(input);
        if (!esValido) {
            formularioValido = false;
        }
    });

    if (!formularioValido) {

        const primerError = modal.querySelector(".is-invalid");
        if (primerError) primerError.focus();
        return; 
    }
    let data = {
        documento: documento.value,
        nombre: nombre.value,
        apellido: apellido.value,
        correo: correo.value,
        password: password.value,
        username: nombreUsuario.value,
        telefono: telefono.value,
        fecha_nacimiento: fecha_nacimiento.value,
        peso: peso.value,
        altura: altura.value,
        genero: genero.value
    };

    fetch("/gimnasio/crear-usuario-ajax/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie('csrftoken')
        },
        body: JSON.stringify(data)
    })
    .then(res => res.json())
    .then(data => {
        if (data.error) {
            return Swal.fire("Error", data.error, "error");
        }

        let select = document.querySelector('[name="fk_usuario"]');
        if (!select.querySelector(`option[value="${data.id}"]`)) {
            select.add(new Option(data.nombre, data.id, true, true));
        }

        bootstrap.Modal.getInstance(document.getElementById('modalUsuario')).hide();

        document.querySelectorAll('#modalUsuario input').forEach(i => i.value = '');
        document.querySelectorAll('[id^="error_"]').forEach(e => e.innerText = '');

        Swal.fire("Correcto", "Usuario creado correctamente", "success");
    });
}
</script>
{% endblock %}

